<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Account Activation</title>
</head>
<body>
  <p>Hi <%= params[:user].first_name %>,</p>

  <p><%= params[:user].first_name %> has successfully signed up to Embloy!</p>
  <p>Email: <%= @user.email %>.</p>
  <p>Name: <%= @user.full_name %>.</p>

  <p>Click on the link below to activate the account:</p>
  <p><a href="https://api.embloy.com/api/v0/user/activate?token=<%= @token %>">Activate Account</a></p>

  <p>Best,</p>

  <p>The Embloy Team</p>
</body>
</html>