<%= stylesheet_link_tag "style" %>
<h1>Applications for job #<%= @job.job_id %></h1>
<h3>There are <%= @job.applications.count %> applications and counting!</h3>
<%=
  #job_applications_reject_all_path(@job)
  link_to "Reject all applications", job_applications_reject_all_path(@job), data: {
    turbo_method: :reject_all,
    turbo_confirm: "Are you sure?" } %>

<ul>
  <% @applications.each do |application| %>
    <% application.get_name.to_s %>
    <li>
      <%=
        link_to "#{application.get_name} (##{application.applicant_id})", job_application_path(@job.job_id, application.applicant_id)
      %> -
      <%=
        link_to "accept", job_application_accept_path(@job, application.applicant_id)
      %> -
      <%=
        link_to "reject", job_application_reject_path(@job, application.applicant_id)
      %>
    </li>
  <% end %>
</ul>

<li><%= link_to "New Application", new_job_application_path(@job) %></li>
<h2><%= link_to "go back", _back_url %></h2>
