<%= javascript_include_tag "application" %>
<%= form_with model: job, class: "trix-content" do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% job.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <!--    <%#= form.text_area :description %><br>-->
    <%= form.text_area :description %><br>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.rich_text_area :content, placeholder: "Enter the content..." %>
    <% job.errors.full_messages_for(:content).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :start_slot %><br>
    <%= form.datetime_field :start_slot %><br>
    <% job.errors.full_messages_for(:start_slot).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :longitude %><br>
    <%= form.number_field :longitude %><br>
    <% job.errors.full_messages_for(:longitude).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <%= form.label :latitude %><br>
    <%= form.number_field :latitude %><br>
    <% job.errors.full_messages_for(:latitude).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <!--    <%#= form.label "Do you want to receive a notification when a new application is submitted?" %><br>-->
    <!--    <%#= form.check_box :notify %><br>-->
    <%# job.errors.full_messages_for(:notify).each do |message| %>
    <!--      <div><%#= message %></div>-->
    <%# end %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>

  <div>
    <%= form.submit "Create job", class: "btn btn-primary mt-1" %>
  </div>
<% end %>
