<style>
    body {
        background-color: #6200EA;
        color: #000;
        overflow-x: hidden;
    }

    .card {
        margin: auto;
        padding: 20px;
        border-radius: 15px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .pic1 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .product-pic {
        padding-left: auto;
        padding-right: auto;
        width: 100%;
    }

    .card-1 {
        padding: 30px 30px 20px 30px !important;
        border: none;
        width: 375px;
    }

    .price {
        font-size: 18px;
    }

    .sm-text {
        font-size: 14px;
    }
</style>

<div class="container-fluid px-sm-1 py-1 mx-auto">
  <div class="row justify-content-center">
    <div class="d-flex">
      <div class="card card-1">
        <div class="text-center stretched-link px-1">

          <small class="text-muted">
            <%= job.start_slot.getlocal.asctime %></small>
          <h4 class="card-title"><%= job.title %>
            <% if job.user.is_verified? %>
              <i class="fa fa-check-circle" style="font-size:24px"></i>
            <% end %>
          </h4>
        </div>
        <div class="row justify-content-end">
          <div class="product-pic">
            <img class="pic1" src="<%= job.image_url.nil? ? "https://picsum.photos/200/300?random=#{job.job_id}" : job.image_url %>" alt="">
          </div>
          <div class="row px-1 justify-content-between">
            <header class="text-center content-center pt-1 pb-2">
              <small class="text-muted"><i class="bi bi-clock-fill mr-1"></i><%= job.time_left %></small>
              <a class="badge bg-secondary text-decoration-none link-light" href="#!"><%= job.job_type %></a>
            </header>
            <h4><%= job.position %></h4>
            <div class="price">
              <%= job.salary %> <span class="sm-text"><%= job.currency %></span>
              <% unless job.employer_rating.nil?
                   (job.employer_rating).times do %>
                  <span class="fa fa-star star-active"></span>
                <% end %>
                <% (5 - job.employer_rating).times do %>
                  <span class="fa fa-star-o star-active"></span>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="card-footer p-1 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a href="<%= job_path(job) %>" class="readmore">
                <span>apply</span>
                <i class="bi bi-arrow-right stretched-link"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
