<div class="col mb-5">
  <div class="card h-100">
    <!-- Job image-->
    <!--    <img class="card-img-top" src="app/views/jobs/joblogo.png"/>-->
    <!-- Job details-->
    <div class="card-body p-4 ">
      <div class="text-center ">
        <!-- Title-->
        <header class="text-center content-center pt-1 pb-2">
          <small class="text-muted"><i class="bi bi-clock-fill mr-1"></i><%= job.time_left %></small>
          <a class="badge bg-secondary text-decoration-none link-light" href="#!"><%= job.job_type %></a>
        </header>
        <h5 class="fw-bolder"><%= job.title %></h5><br>
        <%= "#{job.salary} #{job.currency}" %>
        <div class="d-flex justify-content-center align-items-center">
          <small class="text-muted"><%= pluralize(job.applications_count, "application") %> </small>
          <small class="text-muted">| <%= pluralize(job.view_count, "views") %> </small>
        </div>
      </div>
    </div>
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <a href="<%= job_path(job) %>" class="readmore stretched-link">
          <span>view</span>
          <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>


