<section id="hero" class="hero d-flex align-items-center text-dark">
  <div class="col mb-5 text-dark" data-aos="fade-up">
    <div class="card h-100">
      <h1>Find jobs</h1>
      <h3><%= link_to "Do you want to create a new job instead?", new_job_path %></h3>

      <% my_args = { "account_id" => 1, "latitude" => 1.0, "longitude" => 1.0, "radius" => 1.0, "time" => Time.new(2022, 11, 11, 0, 0, 0), "limit" => 5 } %>

      <h2 class="text-dark">Your parameters </h2>
      <%= form_tag :action => 'parse_inputs' do %>
        Your coordinates:
        <%= number_field_tag :longitude, (0.0) %>
        <%= number_field_tag :latitude, (0.0) %><br>
        Search within radius:
        <%= number_field_tag :radius, (50) %><br>
        Search within timeslot:
        <%= datetime_local_field_tag :time, (Time.zone.now.strftime("%Y-%m-%dT%H:%M")) %><br>
        Set maximum number of jobs shown:
        <%= number_field_tag :limit, (100) %><br>
        <%= submit_tag "START SEARCH" %>
      <% end %>

      <h2 class="text-dark">All available jobs </h2>
      <section class="py-5">
        <div class="container px-3 px-lg-5 mt-5">
          <div class="row gx-3 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center ">
            <% @jobs.each do |job| %>
              <% if job.public? %>
                <%= render "posting", job: job %>
              <% end %>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>