<!-- ======= Map Section ======= -->
<section id="map" class="services pt-0 mt-5 pt-4">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <span>Available Jobs</span>
      <h2>Available Jobs</h2>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css"/>
    <style>
        #mapid {
            border: 0;
            width: 100%;
            height: 600px;
        }
    </style>
    <div id="mapid"></div>
    <script>
        var southWest = L.latLng(-90, -180);
        var northEast = L.latLng(90, 180);
        var bounds = L.latLngBounds(southWest, northEast);

        var map = L.map('mapid', {
            maxBounds: bounds,
            maxBoundsViscosity: 1.0
        }).setView([48.13743, 11.57549], 5);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 18,
            tileSize: 512,
            zoomOffset: -1
        }).addTo(map);
        <% @jobs.each do |u| %>
        var latitude = <%= u.latitude.nil? ? 37.7749 : u.latitude %>;
        var longitude = <%= u.longitude.nil? ? -122.4194 : u.longitude %>;

        var jobInfo = '<b><%= u.title %></b><br><%= u.description %><br><a href="<%= job_url(u) %>">Apply Now</a>';

        var marker = L.marker([latitude, longitude]).addTo(map);

        marker.bindPopup(jobInfo);
        <%end %>
        // Add a red marker for the user's location
        <% if !Current.user.nil? && !Current.user.longitude.nil? && !Current.user.latitude.nil? %>
        var red = L.icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });
        var userM = L.marker([<%=Current.user.latitude %>, <%=Current.user.longitude %>], {icon: red}).addTo(map);
        userM.bindPopup('You are here!');

        <% else %>

        navigator.geolocation.getCurrentPosition(function (position) {
            var userLat = position.coords.latitude;
            var userLng = position.coords.longitude;
            var userMarker = L.marker([userLat, userLng], {icon: redIcon}).addTo(map);
            userMarker.bindPopup('You are here!');
        }, function (error) {
            console.log('Error getting user location:', error.message);
        });
        <% end %>

        // Create a custom red icon for the user marker
        var redIcon = L.icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

    </script>
  </div>
</section><!-- End Map Section -->
