<!-- ======= Map Section ======= -->
<section id="map" class="services pt-0 mt-5 pt-4">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <span>Available Jobs</span>
      <h2>Available Jobs</h2>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css"/>
    <style>
        #mapid {
            border: 0;
            width: 100%;
            height: 600px;
        }
    </style>
    <div id="mapid"></div>
    <script>
        var southWest = L.latLng(-90, -180);
        var northEast = L.latLng(90, 180);
        var bounds = L.latLngBounds(southWest, northEast);

        var map = L.map('mapid', {
            maxBounds: bounds,
            maxBoundsViscosity: 1.0
        }).setView([48.1374300, 11.5754900], 5);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 18,
            tileSize: 512,
            zoomOffset: -1
        }).addTo(map);

        // Get user's location
        var userLat = -1.0;
        var userLng = -1.0;

        <%if !Current.user.nil? && !Current.user.latitude.nil? && !Current.user.longitude.nil?  %>
        geoMap(<%=Current.user.latitude %>, <%=Current.user.longitude %>);
        <% else %>
        navigator.geolocation.getCurrentPosition(function (position) {
            userLat = position.coords.latitude;
            userLng = position.coords.longitude;
            geoMap(userLat, userLng, false);
        });
        <% end %>
        map.on('click', function (e) {
            var userLat = e.latlng.lat;
            var userLng = e.latlng.lng;
            geoMap(userLat, userLng, true);
        });

        function geoMap(userLat, userLng, clicked) {
            // Make AJAX request to update jobs based on user's location
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/jobs_maps/update_jobs');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader('X-CSRF-Token', Rails.csrfToken());
            xhr.onload = function () {
                if (xhr.status === 200) {
                    // Handle response from server
                    var updatedJobs = JSON.parse(xhr.responseText);
                    console.log("STAT3: " + updatedJobs);
                    // Remove existing job markers from map
                    map.eachLayer(function (layer) {
                        if (layer instanceof L.Marker) {
                            map.removeLayer(layer);
                        }
                    });

                    // Add updated job markers to map
                    updatedJobs.forEach(function (job) {
                        var jobInfo = '<b>' + job.title + '</b><br>' + job.position + '<br><a href=<%=root_path %>jobs/' + job.job_id + '>Apply Now</a>';
                        var marker = L.marker([job.latitude, job.longitude]).addTo(map);
                        marker.bindPopup(jobInfo);
                        map.setView([userLat, userLng], 8);
                    });
                    var userM0 = L.marker([userLat, userLng], {icon: red}).addTo(map);
                    userM0.bindPopup(clicked ? 'You clicked here!' : 'You are here!');

                } else {
                    console.log('Error updating jobs:', xhr.statusText);
                }
            };
            xhr.onerror = function () {
                console.log('Error updating jobs:', xhr.statusText);
            };
            xhr.send(JSON.stringify({latitude: userLat, longitude: userLng}));
        }

        // Add a red marker for the user's location
        var red = L.icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });
        var userM = L.marker([userLat, userLng], {icon: red}).addTo(map);
        userM.bindPopup('You are here!');


        // Display jobs on map
        <% @jobs.each do |u| %>
        var latitude = <%= u.latitude.nil? ? 37.7749 : u.latitude %>;
        var longitude = <%= u.longitude.nil? ? -122.4194 : u.longitude %>;
        var jobInfo = '<b><%= u.title %></b><br><%= u.position %><br><a href="<%= job_url(u) %>">Apply Now</a>';
        var marker = L.marker([latitude, longitude]).addTo(map);
        marker.bindPopup(jobInfo);
        <%end %>


    </script>
  </div>
</section><!-- End Map Section -->
