<%= stylesheet_link_tag "style" %>
<h1>Your jobs</h1>
<% if !@jobs.nil? %>

  <h2>You have created <%= @jobs.count %> jobs! - <%= link_to "Create new job", new_job_path %></h2>

  <ul>
    <% @jobs.each do |job| %>
      <br>
      <div style="padding: 10px; border: 1px solid lightgray; background-color: #333333">
        <p>
          <strong>Job ID:
            <%= job[:job_id] %></strong>
          ---
          <%= job[:start_slot].localtime.ctime %>
          ---
          <%= link_to "go to job", job_path(job) %>
        </p>

        <p>
          <strong>Title:</strong>
          <%= job[:title] %>
        </p>

        <p>
          <strong>Status:</strong>
          <%= job[:status] %>
        </p>

        <p>
          <%
            if job.applications.nil? || job.applications.empty? %>
            <%= "No applications yet ..." %>
          <% else %>
            <%= job.applications.count == 1 ? "1 application" : "#{job.applications.count} applications" %>
            </p>
          <% end %>
          </div>

    <% end %>
  </ul>

<% else %>
  <h2>You have not created any jobs yet! - <%= link_to "Create new job here!", new_job_path %></h2>
<% end %>

<h2><%= link_to "go back", _back_url %></h2>


