<%= form_with model: @user, url: sign_up_path do |f| %>
  <p>
    Required fields are marked with an asterisk (<abbr
    title="required">*</abbr>).
  </p>
  <fieldset>
    <p>
      <%= f.label 'email *' %><br>
      <%= f.email_field :email %>
    </p>
  </fieldset>
  <fieldset>
    <legend>Credentials</legend>
    <p>
      <%= f.label 'first_name *' %><br>
      <%= f.text_field :first_name %><br>
      <%= f.label 'last_name *' %><br>
      <%= f.text_field :last_name %><br>
    </p>
  </fieldset>
  <fieldset>
    <legend>Address</legend>
    <p>
      <%= f.label 'country_code' %><br>
      <%= f.text_field :country_code, pattern: "^(A(D|E|F|G|I|L|M|N|O|R|S|T|Q|U|W|X|Z)|B(A|B|D|E|F|G|H|I|J|L|M|N|O|R|S|T|V|W|Y|Z)|C(A|C|D|F|G|H|I|K|L|M|N|O|R|U|V|X|Y|Z)|D(E|J|K|M|O|Z)|E(C|E|G|H|R|S|T)|F(I|J|K|M|O|R)|G(A|B|D|E|F|G|H|I|L|M|N|P|Q|R|S|T|U|W|Y)|H(K|M|N|R|T|U)|I(D|E|Q|L|M|N|O|R|S|T)|J(E|M|O|P)|K(E|G|H|I|M|N|P|R|W|Y|Z)|L(A|B|C|I|K|R|S|T|U|V|Y)|M(A|C|D|E|F|G|H|K|L|M|N|O|Q|P|R|S|T|U|V|W|X|Y|Z)|N(A|C|E|F|G|I|L|O|P|R|U|Z)|OM|P(A|E|F|G|H|K|L|M|N|R|S|T|W|Y)|QA|R(E|O|S|U|W)|S(A|B|C|D|E|G|H|I|J|K|L|M|N|O|R|T|V|Y|Z)|T(C|D|F|G|H|J|K|L|M|N|O|R|T|V|W|Z)|U(A|G|M|S|Y|Z)|V(A|C|E|G|I|N|U)|W(F|S)|Y(E|T)|Z(A|M|W))$" %>
      <br>

      <%= f.label 'postal_code' %><br>
      <%= f.text_field :postal_code, pattern: "[\\d]{5}(-[\\d]{4})?" %><br>

      <%= f.label 'city' %><br>
      <%= f.text_field :city %><br>

      <%= f.label 'address (streetname and house number)' %><br>
      <%= f.text_field :address %>
    </p>
  </fieldset>
  <fieldset>
    <legend>Authentication</legend>
    <p>
      <%= f.label 'password *' %><br>
      <%= f.password_field :password %><br>
      <%= f.label 'password_confirmation *' %><br>
      <%= f.password_field :password_confirmation %>
    </p>
  </fieldset>
  <p>
    <%= f.submit 'Sign Up' %>
  </p>
  <p>
    <% f.label 'longitude' %><br>
    <% f.number_field :longitude, default: 0.0 %>
  </p>
  <p>
    <% f.label 'latitude' %><br>
    <% f.number_field :latitude, default: 0.0 %>
  </p>
<% end %>

