<div class="card-columns mt-4">
  <h1>About</h1>
  <b>We broker casual jobs creating a fun way for people to make money spontaneously</b>
  <img src="https://www.gchhotelgroup.com/gch-hotel-group/destinations/muenchen/image-thumb__4597__facebook-share/shutterstock_786988819.jpeg" class="card-img-top" alt="...">

  <div class="card bg-secondary text-white p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p> The best application to quickly find a fitting job for you or spontaneously provide work-opportunities to
        others</p>
      <footer class="blockquote-footer text-white">
        <small class="text-muted-white">
          Winston Smith <cite title="Source Title">Die Gruppe</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <a href="https://gitlab.com/carlobortolan/JobFinderOnRails">
      <img src="https://4.bp.blogspot.com/-X7X9mUePrTU/WJLcFgwQQcI/AAAAAAAACDo/4-wObvo2U4ACGoZJHXNWOYXqCpIF1uOXQCLcB/w1200-h630-p-k-no-nu/gitlab-blog-cover.png" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <h5 class="card-title">GitHub</h5>
      <!--      <p class="card-text">Feel free to contribute to the project or report issues <</a></p>-->
      <%= "Feel free to " %>
      <%= link_to "contribute", "https://gitlab.com/carlobortolan/JobFinderOnRails", class: 'card-text' %>
      <%= " or " %>
      <%= link_to "report issues", "https://gitlab.com/carlobortolan/JobFinderOnRails/-/issues/new", class: 'card-text' %>

      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Current issues</h5>
      <p class="card-text">
      <ul>
        <li>
          Integrate meilisearch into feedgenerator
        </li>
        <li>
          Add necessary indices
        </li>
        <li>
          Complete API documentation
        </li>
        <li>
          make authenticationtokenservice use verify_sub
        </li>
        <li>
          implement approach to consider different user types and access rights
        </li>
      </ul>
      <br>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5><%= link_to "Privacy Policy", privacy_policy_path, class: 'card-title' %></h5>
      <p class="card-text">We need your data, please</p>
      <p class="card-text"><small class="text-muted">
        Last updated 2 days ago</small></p>
    </div>
  </div>
  <div class="card">
    <a href="https://rubyonrails.org/">
      <img src="https://deslivres.fr/wp-content/uploads/2019/07/Ruby-on-rails.jpg" class="card-img-top" alt="...">
    </a></div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card bg-primary text-white">
    <div class="card-body">
      <h5 class="card-title">Contributors</h5>
      <p class="card-text">Jan Hummel, Carlo Bortolan.</p>
    </div>
  </div>
</div>

