<main id="main" class="main">
  <div class="pagetitle">
    <h1>Moderators</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= admin_root_path %>">Home</a></li>
        <li class="breadcrumb-item"><a href="<%= admin_users_path %>">Users</a></li>
        <li class="breadcrumb-item active">Moderators</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">All moderators</h5>
        <table class="table table-sm table-hover">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Created at</th>
            <th scope="col">Updated at</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |u| %>
            <%# if UserBlacklist.find_by_user_id(u.id) %>
            <tr class=<%= "table-danger" if UserBlacklist.find_by_user_id(u.id) %>>
              <%# else %>
              <!--              <tr>-->
              <%# end %>
              <th scope="row"><%= u.id %></th>
              <td><%= u.email %></td>
              <td><%= u.first_name %></td>
              <td><%= u.last_name %></td>
              <td><%= u.created_at %></td>
              <td><%= u.updated_at %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>