<div class="container card">
  <h1>Your Profile</h1>
  <% if @user %>
    Logged in as: <%= @user.email %><br>
    <%= link_to 'Edit Password', edit_password_path %>
    <%= button_to 'Logout', logout_path, method: :delete %>
    <%= button_to 'Settings', profile_settings_path, method: :get %>
  <% else %>
    <%= link_to 'Sign Up', sign_up_path %>
    or
    <%= link_to 'Login', sign_in_path %>
  <% end %>
</div>
