<!DOCTYPE html>
<html>

<head>
  <title>Embloy</title>
  <meta charset="utf-8"/>
  <meta name="description" content="embloy"/>
  <meta name="author" content="Carlo Bortolan, Jan Hummel"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <title>Landing Page - Embloy</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script><%= render 'layouts/navbar' %>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css"/>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <% javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container bg-light">
  <%= render partial: "layouts/flash" %>
  <%= yield %>
  <br>
  <br>
  <br>
  <!--  <ul class="nav col-md-5 justify-content-end">-->
  <ul class="nav">
    <%= link_to "Home", root_path, class: 'nav-link px-2 text-muted' %>
    <%= link_to "Sign Up", sign_up_path, class: 'nav-link px-2 text-muted' %>
    <%= link_to "Sign In", log_in_path, class: 'nav-link px-2 text-muted' %>
    <%= link_to "Features", about_path, class: 'nav-link px-2 text-muted' %>
    <%= link_to "API", api_path, class: 'nav-link px-2 text-muted' %>
    <%= link_to "FAQs", faq_path, class: 'nav-link px-2 text-muted' %>
    <%= link_to "Privacy Policy", privacy_policy_path, class: 'nav-link px-2 text-muted' %>
    <%= link_to "Cookies", cookies_path, class: 'nav-link px-2 text-muted' %>
    <%= link_to "Help", help_path, class: 'nav-link px-2 text-muted' %>
    <%= link_to "About", about_path, class: 'nav-link px-2 text-muted' %>
    <hr>
    &copy; <%= "#{Time.current.year} Jan Hummel, Carlo Bortolan" %>

  </ul>

</div>


<!--<p class="notice"><%#= notice %></p>-->
<!--<p class="alert"><%#= alert %></p>-->
<!--<main>-->
<%#= yield %>
<!--</main>-->
</body>
</html>
