<!DOCTYPE html>
<html>
<head>
  <%= render partial: "layouts/job_applic_header" %>
</head>
<body>
<!--<div class="container bg-light">-->
<%= render partial: "layouts/flash" %>
<!--<section id="hero" class="hero d-flex align-items-center">-->
<!--  <div class="container">-->
<%= render 'layouts/navbar' %>
<%= yield %>
<!--  </div>-->
<!--</section>-->
<%= render partial: "layouts/footer" %>
</body>
</html>
